[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
pandas = "*"
imageai = "*"
torch = "*"
torchvision = "*"
scikit-image = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
